<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Kauppalistasovellus</h1>
  </div>
  <div class="nav">
  </div>
  <div class="content">
    {% for message in get_flashed_messages() %}
    <b class="info">{{ message }}</b>
    {% endfor %}  
    <form action="/login" method="post">
      <p>
        Tunnus: <br />
        <input type="text" name="username" />
      </p>
      <p>
        Salasana: <br />
        <input type="password" name="password" />
      </p>
      <input type="submit" value="Kirjaudu" />
    </form>
    <a href="/register"><input type="button" value="Luo uusi käyttäjä"></a>
  </div>
</body>

</html>