<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="/itemsearch" method="GET">
            {% if search_word %}
            <input type="text" name="search_word" value="{{ search_word }}">
            {% else %}
            <input type="text" name="search_word">
            {% endif %}
            <input type="submit">
        </form>
        <p>
            <h2>Hakutulokset listojen sisällöistä:</h2>
        </p>
        {% if item_search %}
            {% for result in item_search %}
            <a href="/list/{{result.list_id}}#{{result.item_id}}">{{result.title}}</a>
            <br>
            {% endfor %}
            <p>
                <form style="display:inline" action="/itemsearch/1" method="GET">
                    <input type="hidden" name="search_word" value="{{ search_word }}">
                    <input type="submit" value="alkuun">
                </form>
                <form style="display:inline" action="/itemsearch/{{page-1}}" method="GET">
                    <input type="hidden" name="search_word" value="{{ search_word }}">
                    <input type="submit" value="edellinen sivu">
                </form>
                <div style="display:inline">{{ page }}/{{ item_page_count }}</div>
                <form style="display:inline" action="/itemsearch/{{page+1}}" method="GET">
                    <input type="hidden" name="search_word" value="{{ search_word }}">
                    <input type="submit" value="seuraava sivu">
                </form>
                <form style="display:inline" action="/itemsearch/{{item_page_count}}" method="GET">
                    <input type="hidden" name="search_word" value="{{ search_word }}">
                    <input type="submit" value="loppuun">
                </form>
            </p>
        {% endif %}
        <br>
        <hr/>
        <a href="/main">Palaa etusivulle</a>
    </body>
</html>