{% extends "layout.html" %}

{% block title %}Kauppalistasovellus{% endblock %}
{% block content %}
    <form action="/itemsearch" method="GET">
        {% if search_word %}
        <input type="text" name="search_word" value="{{ search_word }}">
        {% else %}
        <input type="text" name="search_word">
        {% endif %}
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Hae">
    </form>
    <p>
        <h2>Hakutulokset listojen sisällöistä:</h2>
    </p>
    {% if item_search %}
        {% for list in item_search %}
            <hr>        
            <div class="list_name_link">
                {% if list.item_name | length > 30 %}
                <a href="/list/{{list.list_id}}#{{list.item_id}}">{{ list.list_name }}: {{ list.item_name[0:29] }}...</a>
                {% else %}
                <a href="/list/{{list.list_id}}#{{list.item_id}}">{{ list.list_name }}: {{ list.item_name }}</a>
                {% endif %}
            </div>
            <div class="metadata-row">
                {% if list.list_owner | length > 15 %}
                <div class="left">listan omistaja: {{ list.list_owner[0:14] }}...</div>
                {% else %}
                <div class="left">listan omistaja: {{ list.list_owner }}</div>
                {% endif %}
                <div class="center">listatyyppi: {{ list.class_name }}</div>
                <div class="right">tuotteita listalla: {{ list.item_count }}</div>
            </div>
        {% endfor %}
        <p>
            <form style="display:inline" action="/itemsearch/1" method="GET">
                <input type="hidden" name="search_word" value="{{ search_word }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="alkuun">
            </form>
            <form style="display:inline" action="/itemsearch/{{page-1}}" method="GET">
                <input type="hidden" name="search_word" value="{{ search_word }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="edellinen sivu">
            </form>
            <div style="display:inline">{{ page }}/{{ item_page_count }}</div>
            <form style="display:inline" action="/itemsearch/{{page+1}}" method="GET">
                <input type="hidden" name="search_word" value="{{ search_word }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="seuraava sivu">
            </form>
            <form style="display:inline" action="/itemsearch/{{item_page_count}}" method="GET">
                <input type="hidden" name="search_word" value="{{ search_word }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="loppuun">
            </form>
        </p>
    {% endif %}
    <br>
    <hr/>
{% endblock %}