{% extends "layout.html" %}

{% block title %}Kauppalistasovellus{% endblock %}
{% block content %}
    <div class="content">
    {% if users_lists %}
        {% if list_count == 1 %}
        <p>Sinulla on {{ list_count }} lista:</p>
        {% else %}
        <p>Sinulla on {{ list_count }} listaa:</p>
        {% endif %}
        {% for list in users_lists %}
            <hr>        
            <div class="list_name_link"><a href="/list/{{ list.id }}">{{ list.title }}</a></div>
            <div class="metadata-row">
                {% if list.list_owner | length > 15 %}
                <div class="left">listan omistaja: {{ list.list_owner[0:14] }}...</div>
                {% else %}
                <div class="left">listan omistaja: {{ list.list_owner }}</div>
                {% endif %}
                <div class="center">listatyyppi: {{ list.class_name }}</div>
                <div class="right">tuotteita listalla: {{ list.item_count }}</div>
            </div>
        {% endfor %}
        {% if list_count > page_size %}
        <p>
            <a href="/main/1">&lt;&lt;</a>
            <a href="/main/{{page-1}}">&lt;</a>
            {{ page }}/{{ page_count }}
            <a href="/main/{{page+1}}">&gt;</a>
            <a href="/main/{{page_count}}">&gt;&gt;</a>
        </p>
        {% endif %}
    {% else %}
        <p>Sinulla ei ole listoja</p>
    {% endif %}
    <p>
        <a href="/newlist"><input type="button" value="Luo uusi lista"></a>
    </p>
    </div>
{% endblock %}