{% extends "layout.html" %}

{% block title %}Kauppalistasovellus{% endblock %}
{% block content %}
    <div class="content">
    {% for message in get_flashed_messages() %}
    <b class="info">{{ message }}</b>
    {% endfor %}
    <form action="/create" method="post" name="registeration_form">
        <p>
            Käyttäjätunnus: <br />
            <input name="username" type="text" value="{{ filled.username }}">
        </p>
        <p>
            Salasana: <br />
            <input name="password1" type="password">
        </p>
        <p>
            Salasana uudestaan: <br />
            <input name="password2" type="password">
        </p>
        <input type="submit" value="Luo tunnus" />
    </form>
    </div>
{% endblock %}