<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="/search" method="GET">
            <input type="text" name="search_word" {% if search_word %}value={{ search_word }}{% endif %}>
            <input type="submit">
        </form>
        {% if results %}
            {% for result in results %}
            <a href="/list/{{result.id}}">{{result.title}}</a>
            <br>
            {% endfor %}
        {% endif %}
        <br>
        <a href="/main">Palaa etusivulle</a>
    </body>
</html>